<div class="round-media-section py-16 px-10" style="background-color: {{ section.settings.bg_color2 }}">
        
  {% if section.settings.heading != blank %}
    <div class="heading text-center flex items-center justify-center mb-8 text-white">{{ section.settings.heading }}</div>
  {% endif %}

  <div class="round-media__slider mx-auto block max-w-[250px]">
    {% for block in section.blocks %}
      <img 
        src="{{ block.settings.image | img_url: '50x' }}" 
        data-src="{{ block.settings.image | img_url: '300x' }}" 
        class="h-[180px] w-[180px] max-w-[180px] rounded-full lazy">
    {% endfor %}
  </div>

  {%- if section.settings.link_url != blank and section.settings.link_label != blank -%}
    <a href="{{ section.settings.link_url }}" class="font-Platform font-normal mt-[25px] text-white block text-center underline uppercase tracking-[0.25em]">
      {{ section.settings.link_label }}
    </a>
  {%- endif -%}

</div>