{%- capture grid_col -%}

  {%- if section.settings.col_count == 4 -%}
    lg:grid-cols-4
  {%- elsif section.settings.col_count == 3 -%}
    lg:grid-cols-3
  {%- elsif section.settings.col_count == 2 -%}
    lg:grid-cols-2
  {%- else -%}
    lg:grid-cols-1
  {%- endif %}

{%- endcapture -%}

{%- capture grid_padding -%}
  {%- if section.settings.layout == "slider" -%}  
    pl-4 pr-0 sm:pl-4 sm:pr-1 md:px-4
  {%- else -%}
    px-4
  {%- endif -%}
{%- endcapture -%}

<section class="content-cards py-12 md:py-16 {{ section.settings.layout }}" style="background-color: {{ section.settings.bg_color }};">
  <div class="container mx-auto sm:px-4 lg:px-8 {{ grid_padding }}">

    {% if section.settings.heading != blank %}
      <h2 class="font-GT text-[40px] md:text-9xl uppercase font-normal leading-80 tracking-normal text-center  mb-12 md:mb-24">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="card-items grid sm:grid-cols-2 {{ grid_col }} gap-[10px]">
      {% render 'card-item' for section.blocks as block %}
    </div><!-- card-items -->

  </div>
</section>

{% schema %}
{
  "name": "Content Cards",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#F4EDE5"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "placeholder": "Section heading"
    },
    {
      "type": "range",
      "id": "col_count",
      "label": "Number of Columns",
      "unit": "col",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "Responsive Layout",
      "default": "stacked",
      "info": "Responsive layout in smaller viewports",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "stacked",
          "label": "Stacked"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "card_item",
      "name": "Card Item",
      "settings": [
        {
          "type": "radio",
          "id": "bg_type",
          "label": "Background Type",
          "default": "contain",
          "options": [
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "covered",
              "label": "Covered"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "radio",
          "id": "padding",
          "label": "Padding",
          "default": "tight",
          "options": [
            {
              "value": "tight",
              "label": "Tight"
            },
            {
              "value": "loose",
              "label": "Loose"
            }
          ]
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Card Title",
          "placeholder": "Card Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Card Content Placeholder</p>"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link label"
        },
        {
          "type": "header",
          "content": "Text Rendering Settings"
        },
        {
          "type": "radio",
          "id": "text_colour",
          "label": "Text Color",
          "default": "dark",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "Title Size",
          "options": [
            {
              "value": "sm",
              "label": "Small"
            },
            {
              "value": "md",
              "label": "Medium"
            },
            {
              "value": "lg",
              "label": "Large"
            }
          ],
          "default": "md"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content Cards",
      "name":"Content Cards"
    }
 ]
}
{% endschema %}